<h1>Nuevo Item</h1>

<%= form_with model: @item, url: items_path do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :url_image %>
    <%= form.text_field :url_image %>
  </div>

  <%= form.submit "Guardar" %>
<% end %>